@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

/* 
  Modern CSS Reset by Josh W Comeau
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p,
h2,
h3,
h4,
h5,
h6 {
  width: calc(100vw - 1rem);
  margin-left: auto;
  margin-right: auto;
}
#root,
#__next {
  isolation: isolate;
}
/* //////// */

:root {
  --green: #96ec92;
  --yellow: #fef582;
  --white: #ffffff;
  --gray: #eeebe9;
  --black: #000000;
  --black-fade: #00000033;
}

body {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Orbitron", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

nav,
main {
  width: 100vw;
  max-width: 800px;
}

/* nav styles */
@keyframes breathe {
  from {
    background-color: var(--yellow);
  }
  to {
    background-color: var(--green);
  }
}

nav {
  background-color: var(--yellow);
  animation: breathe 2s linear 2s infinite alternate none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

nav a,
nav a:visited {
  color: var(--black);
}

nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 0.25rem;
  margin-bottom: 0;
  justify-content: space-evenly;
}

nav ul li {
  display: flex;
  flex-direction: row;
}

section {
  margin-top: 1rem;
}

/* list styles */
main ul {
  width: calc(100vw - 1rem);
  max-width: 800px;
  margin: 1rem auto;
  padding: 0;
}

main ul li:not(:first-child) {
  margin: 0.5rem 0;
}

main ul li > a,
main ul li article {
  position: relative;
  display: block;
  width: inherit;
  padding: 1rem;
  border: 1px solid var(--black);
  border-radius: 0 0 0.25rem 0.25rem;
  color: var(--black);
  text-decoration-color: var(--black-fade);
}

main ul li > a:hover,
main ul li > a:focus {
  background-color: var(--yellow);
  text-decoration-color: var(--black);
}

.circle {
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.live-indicator-holder .indicator {
  font-family: sans-serif;
  background: #ea2429;
  color: #fff;
  padding: 0.25rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.live-indicator-holder .indicator .blink {
  animation: blinker 1.2s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0.1;
  }
}

main ul li article {
  display: flex;
  flex-direction: column;
}

main ul li article > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.4;
  }
}

main ul li article.loading {
  animation: loading 1s linear 0s infinite alternate none;
}

aside {
  text-align: right;
  margin-top: 1rem;
  padding: 0 calc(1rem + 1px);
}

@media (prefers-reduced-motion) {
  * {
    animation: none !important;
  }
}

/* stream-wrapper styles */
#stream-wrapper.hidden {
  position: absolute;
  top: -10000px;
  left: -10000px;
}

.livestream-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* iframe styles */
.stream-wrapper {
  background-color: #000;
  max-width: 760px;
  margin: 1rem auto;
  border-radius: 0 0 0.25rem 0.25rem;

  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.stream-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

#loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 0 0 #0004;
  animation: l1 1s infinite;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes l1 {
  100% {
    box-shadow: 0 0 0 30px #0000;
  }
}
